#location-search {
  margin-top: 10px;
}

#header-container {
  height: 8vh;
}

#main-container {
  background-color: rgb(48, 83, 83);
  min-height: calc(100vh - 13vh);
  background-size: cover;
  background-position: center;
}

#footer-container {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  padding: 0;
}

#weather-container {
  width: 100%;
}

#additional-info {
  margin-top: 3.25em;
  font-size: 1.1em;
  margin-left: 1em;
}

#current-temp {
  font-size: 5em;
}

#skies {
  margin: 0;
}

.card {
  width: 45rem;
}
